@import url("bootstrap.min.css");
@import url("../fonts/stylesheet.css");

.fnt_wht {            color: rgba( 255, 255, 255, 1.00); }
.fnt_ylw {            color: rgba( 219, 212,   0, 1.00); }
.fnt_grn {            color: rgba(  47, 179, 166, 1.00); }
.fnt_red {            color: rgba( 228,  33, 105, 1.00); }
.fnt_gry {            color: rgba( 127, 127, 127, 1.00); }

.fnt_awe      {    font-family: "FontAwesome";   }
.fnt_natscr   {    font-family: "NaturalScript"; }
.fnt_serif100 {    font-family: "MuseoSlab100";  }
.fnt_serif300 {    font-family: "MuseoSlab300";  }
.fnt_serif500 {    font-family: "MuseoSlab500";  }
.fnt_serif700 {    font-family: "MuseoSlab700";  }
.fnt_serif900 {    font-family: "MuseoSlab900";  }
.fnt_serif1000{    font-family: "MuseoSlab1000"; }
.fnt_sans100  {    font-family: "MuseoSans100";  }
.fnt_sans300  {    font-family: "MuseoSans300";  }
.fnt_sans500  {    font-family: "MuseoSans500";  }
.fnt_sans700  {    font-family: "MuseoSans700";  }
.fnt_sans900  {    font-family: "MuseoSans900";  }
.fnt_s12      {    font-size: 1.00em; }
.fnt_s14      {    font-size: 1.17em; }
.fnt_s16      {    font-size: 1.33em; }
.fnt_s18      {    font-size: 1.50em; }
.fnt_s19      {    font-size: 1.58em; }
.fnt_s21      {    font-size: 1.75em; }
.fnt_s24      {    font-size: 2.00em; }
.fnt_s28      {    font-size: 2.33em; }
.fnt_s32      {    font-size: 2.67em; }
.fnt_s34      {    font-size: 2.83em; }
.fnt_s38      {    font-size: 3.17em; }
.fnt_s45      {    font-size: 3.75em; }

body {
    font-size: 120%;
    background-image: url('/img/bck-pattern-rose.jpg');
    background-attachment: fixed;

    font-style: normal;
    font-weight: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    margin-top: 2em;
    background: rgba( 255, 255, 255, 0.95);
}

.bck_ylw { background-color: rgba( 219, 212,   0, 1.00); }
.bck_grn { background-color: rgba(  47, 179, 166, 1.00); }
.bck_red { background-color: rgba( 228,  33, 105, 1.00); }
.bck_wht { background-color: rgba( 255, 255, 255, 1.00); }


img {
    max-width: 100%;
}
article {
    margin-bottom: 12em;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
}

.container {
    position: relative;
}
article div.top-clips {
    position: absolute;
    top: -3.2em;
    right: 2em;
}
article img.top-clip {
    max-height: 9em;
}

/*
 *  First page elements -- Welcome
 */
div.row.spaced {
    padding-top: 7em;
    padding-bottom: 4em;
}
div#slogan {
}
div#slogan div{
    text-align: center;
}
div#slogan div:first-child {
    text-align: left;
}
div#slogan div:last-child {
    text-align: right;
}
div#opendeur {
    background-image: url('../img/nice-to-meet-you.png');
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    text-align: center;
}
div#down {
    color: rgba(0,0,0,0.5);
    font-size: 2em;
    height: 3em;
    text-align: center;
}

/*
 * Second Page Elements -- Quotes carousel
 */
article#quotes {
    margin-top: 15em;
}
div#quotes {
    margin-top: 1px;
    padding-top: 5.5em;
    padding-bottom: 2em;
    background-image: url('../img/quotes.png');
    background-repeat: no-repeat;
    background-position: top left;
}
#quotes .item {
    padding-bottom: 1em;
    min-height: 4.5em;
}

/*
 * Thrid Page Elements -- Aanbod
 */
article#aanbod {
    background-image: url('../img/bck-lessituatie-thee.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 65em;
}
article#aanbod div {
    padding-top: 1em;
}
article#aanbod div#gratis {
    padding-top: 9em;
}

/*
 * Fourth Page Elements - troeven
 */
article#troeven {
}

article#troeven ul {
    padding-top: 5em;
    padding-bottom: 3em;
}
/*
 * Fifth Page Elements - prijzen
 */
article#prijzen {
    background-image: url('../img/bck-bigben.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 65em;
    padding-top: 2em;
    padding-bottom: 2em;
}
article#prijzen div.row div {
    padding-top: 2em;
}

/*
 * Sixth Page Elements - contact
 */
article#contact div.row:first-child div {
    padding-top: 1em;
}

article#contact div.page{
    padding-top: 1em;
    background-image: url('/img/fabienne-segaert-portret.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}
article#contact div#contacts {
    position: relative;
    margin-top: 3em;
    margin-bottom: 7em;
}
article#contact div#contacts img.bg {
    position: absolute;
    top: 0px;
    align-content: center;
}
/*
 * Hidden - page #7 - form
 */
article#form {
    position: fixed;
    top: 10%;
    margin-left: -642px; /* hides this out */
}
article#form div.slide-container {
    position: relative;
}
article#form div.slide-content {
    float: left;
}
article#form img.slide-tag {
    float: left;
    position: absolute;
    bottom: 10%;
}
