@import url("bootstrap.min.css");
/*
@import url("//fonts.googleapis.com/css?family=EB+Garamond"));
*/

body {
    padding-top: 70px;
    padding-bottom: 100%;
    position: relative;
    background-image: url('/img/bck-pattern-rose.jpg');
}
.page {
    padding-top: 1em;
    background: rgba(255,255,255,0.95);
}
