<div class="row">
    <div class="col-md-12 row">
        <span class="col-md-4 col-md-offset-4">
            <img src="/img/logo-letstalk.png">
        </span>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-6 row pull-right">
        <div class="col-md-12">
            <span class="fnt_serif500 fnt_s21">
                Let’s Talk is Fabienne Segaert
            </span>
        </div>
        <div class="col-md-12">
            <span class="fnt_serif300 fnt_s16">
                Bachelor Nederlands-Engels, jarenlange
                ervaring als taalcoach met verschillende
                taalniveaus, conversatieklassen en business
                English, zowel in groep als one-to-one,
                35 jaar ervaring in de toeristische sector,
                ook als vertaler van toeristische brochures,
                promotiemateriaal en websites. Belgian Greeter
            </span>
        </div>
        <div class="col-md-12 row" id="contacts">
            <img class="bg" src="/img/bck-contact-bigben.png">
            <div class="col-md-11 col-md-offset-1 fnt_serif300 fnt_s24">
                Lets's Talk
            </div>
            <div class="col-md-11 col-md-offset-1 fnt_wht fnt_serif500 fnt_s16">
                <p>
                Derbylaan 7 bis <br>
                8400 Oostende
                </p>
                <p>
                <a href="mailto:info@lets-talk-taalcoaching.be">info@lets-talk-taalcoaching.be</a>
                </p>
                <p>
                T 0476 72 68 28
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <span class="fnt_serif700 fnt_s12 fnt_gry">
            Wij werken samen met ‘t Iengels Wienkeltje en met
            The Green Man Whiskycafé. Wilt u op de hoogte blijven
            van onze acties, vul dan het formulier in onder
            <a href="#" class="slide-tag" data-slide-target="#form">contact</a>
            </span>
        </div>
    </div>
</div>
