

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <img src="/img/logo-letstalk-variant.png" alt="Logo" title="Let's Talk TaalCoaching">
    </div>
</div>


<div class="row clearfix">
    <div class="col-md-9">
        <span class="fnt_serif500 fnt_s18 fnt_wht">
            <span class="fnt_ylw fnt_serif900 fnt_s24">
                Volwassenen
            </span>
            - privé-lessen, praktijkgerichte conversatieklassen
            in groepjes tot 6 personen, korte modules
            <br><span class="fnt_serif900">Privé-les</span>
            € 35 per uur
            <br><span class="fnt_serif900">Conversational English</span>
            100 € voor een module van 5 lessen van 2 uur in groepjes van 6
        </span>
    </div>
</div>


<div class="row clearfix">
    <div class="col-md-9">
        <span class="fnt_serif500 fnt_s18 fnt_wht">
            <span class="fnt_ylw fnt_serif900 fnt_s24">
                Leerlingen en studenten
            </span>
            - De betere bijles op maat met persoonlijke aanpak en
            begeleiding bij vakantiewerk,opfriscursus Engels voor
            de start van het nieuwe schooljaar
            <br><span class="fnt_serif900">Privé-les</span>
            € 30 per uur
        </span>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-8">
        <span class="fnt_serif500 fnt_s18 fnt_wht">
            <span class="fnt_ylw fnt_serif900 fnt_s24">
                Praktijkgerichte taalcoaching op de werkvloer
            </span>
            - o.m. Engels voor de toeristische sector
            <br><span class="fnt_serif900">Prijsofferte op aanvraag</span>
        </span>
    </div>
    <div class="col-md-4">
        <img src="/img/pijltje-asset.png">
    </div>
</div>
