
<div id="quotes" class="carousel slide" 
     data-ride="carousel" data-interval="2000">
    
    <!-- indicators -->
    <ol class="carousel-indicators">
        <li data-target="#quotes" data-slide-to="0" class="active"></li>
        <li data-target="#quotes" data-slide-to="1"></li>
        <li data-target="#quotes" data-slide-to="2"></li>
        <li data-target="#quotes" data-slide-to="3"></li>
    </ol>

    <!-- slides in carrousel -->
    <div class="carousel-inner fnt_serif500 fnt_s38 container row">
        <div class="active item col-md-10 col-md-offset-1">
            <p>
            Ik heb (klein)kinderen in het buitenland en wil hun taal beter beheersen
            </p>
        </div>
        <div class="item col-md-10 col-md-offset-1">
            <p>
            Ik wil mijn conversational skills wat bijschaven in een kleine groep in een huiselijke sfeer
            </p>
        </div>
        <div class="item col-md-10 col-md-offset-1">
            <p>
            Ik wil me voorbereiden op een toets, examen, lezing of een sollicitatiegesprek
            </p>
        </div>
        <div class="item col-md-10 col-md-offset-1">
            <p>
            Ik ga op reis en wil mijn talen opfrissen
            </p>
        </div>
    </div>
</div>

