
<div class="carousel slide quotes"
     data-ride="carousel" data-interval="2000">

    <!-- indicators -->
    <ol class="carousel-indicators" >
        <li data-target="#quotes" data-slide-to="0" class="active"></li>
        <li data-target="#quotes" data-slide-to="1"></li>
    </ol>

    <!-- slides in carrousel -->
    <div class="carousel-inner fnt_serif500 fnt_s38 container row">
        <div class="active item col-md-10 col-md-offset-1">
            <h3>Professioneel</h3>
            <p>
            "Franchement, j'ai passé un excellent moment avec Fabienne.
            C' était une formation très bien organisée, très agréable,
            bien construite. Super. Je ne me suis jamais ennuyée"
            </p>
            <span class="pull-right"><em>TBD</em></span>
        </div>
        <div class="item col-md-10 col-md-offset-1">
            <h3>Test</h3>
            <p>
            "Gepast ander test teskstje"
            </p>
            <span class="pull-right"><em>me</em></span>
        </div>
    </div>
</div>

