<div class="container row">
    <div class="col-md-10 col-md-offset-1">
        <ul id="troeven" class="fnt_wht fnt_serif700 fnt_s19">
            <li>
                Persoonlijke aanpak op maat
            </li>
            <li>
                Praktijkgericht en directe feedback
            </li>
            <li>
                Korte modules
            </li>
            <li>
                Groepjes tot 6 personen
            </li>
            <li>
                Ongedwongen, gezellige sfeer
            </li>
            <li>
                De betere bijles aan een goeie prijs
            </li>
            <li>
                Conversatiesessies met native speaker mogelijk op aanvraag
            </li>
        </ul>
    </div>
</div>
