
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <img src="/img/logo-letstalk.png" alt="Logo" title="Let's Talk TaalCoaching">
    </div>
    <div class="col-md-4">
        <span class="fnt_serif100 fnt_s19">
            <!-- Oostende -->
        </span>
    </div>
</div>

<div class="row spaced">
    <div class="col-md-6 row" id="slogan">
        <span class="fnt_sans100">
            <div class="col-md-12">
                <span class="fnt_s32">Taallessen </span>
                <span class="fnt_sans500 fnt_s38">ENGELS </span>
            </div>
            <div class="col-md-12">
                <span class="fnt_s28">voor </span>
                <span class="fnt_sans500 fnt_s38">iedereen </span>
                <span class="fnt_s28">en </span>
            </div>
            <div class="col-md-12">
                <span class="fnt_s28">op </span>
                <span class="fnt_sans500 fnt_s38">elk niveau</span>
            </div>
        </span>
    </div>


    <div class="col-md-6" id="opendeur" >
        <span class="fnt_serif700">
            <span class="fnt_grn">
                <span class="fnt_serif1000 fnt_s34">Open </span>
                <span class="fnt_s34">deur </span>
            </span>
            <br>
            <span class="fnt_s32">
                zaterdag 8 november
                <br>
                10 tot 18 uur
            </span>
            <br>
            <span class="fnt_serif300 fnt_s27">Derbylaan 7bis | Oostende </span>
            <br>
            <span class="fnt_s20">Laat even weten dat je komt </span>
        </span>
    </div>

</div>


<div class="row" id="down">
    <div class="col-md-1 col-md-offset-6" >
        <img src="/img/pijl_scrollattention.png">
    </div>
    <div class="col-md-12">
        <span class="glyphicon glyphicon-chevron-down fnt-gry"></span>
    </div>
</div>
