
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <img src="/img/logo-letstalk.png" alt="Logo" title="Let's Talk TaalCoaching">
    </div>
    <div class="col-md-4">
        <span class="fnt_serif100 fnt_s19">
            <!-- Oostende -->
        </span>
    </div>
</div>

<div class="row spaced">
    <div class="col-md-6 row" id="slogan">
        <span class="fnt_sans100">
            <div class="col-md-12">
                <span class="fnt_s32">Taallessen </span>
                <span class="fnt_sans500 fnt_s38">ENGELS </span>
                <span class="fnt_s28">in </span>
                <span class="fnt_sans500 fnt_s38">Oostende</span>
            </div>
            <div class="col-md-12">
                <span class="fnt_s28">voor </span>
                <span class="fnt_sans500 fnt_s38">iedereen </span>
                <span class="fnt_s28">en </span>
            </div>
            <div class="col-md-12">
                <span class="fnt_s28">op </span>
                <span class="fnt_sans500 fnt_s38">elk niveau</span>
            </div>
        </span>
    </div>


    <!-- variant 1 opendeur -->
    <!--
    <div class="col-md-6" id="opendeur" >
        <span class="fnt_serif700">
            <span class="fnt_grn">
                <span class="fnt_serif1000 fnt_s34">Open </span>
                <span class="fnt_s34">deur </span>
            </span>
            <br>
            <span class="fnt_s32">
                zaterdag 8 november
                <br>
                10 tot 18 uur
            </span>
            <br>
            <span class="fnt_serif300 fnt_s27">Derbylaan 7bis | Oostende </span>
            <br>
            <a href="#" class="slide-tag" data-slide-target="#form">
                <span class="fnt_s20">Laat even weten dat je komt </span>
            </a>
        </span>
        <br>
    </div>
    -->

    <!-- variant 2 concrete cursus -->
    <!--
    <div class="col-md-6" id="opendeur" >
        <span class="fnt_serif300 fnt_s20">
            <span class="fnt_grn fnt_serif1000 fnt_s32">
                Conversational <span class="fnt_serif700">skills</span>
            </span>
            <br>
            <span class="fnt_grn fnt_s24">
                lower intermediate
            </span>
            <br>
            <span class="fnt_serif500">
                goed instapniveau!
                <br>
                21 en 28 november, 5, 12 en 19 december
                <br>
                elke vrijdag van 13u30 tot 15u30
                <br>
                instapprijs 100 €
                <br>
                kleine groep van 6 tot 8 personen
                <br>
            </span>
            <span class="fnt_s20">
                <a href="#" class="slide-tag" data-slide-target="#form">inschrijvingen</a>
                 - informatie andere modules en niveaus:
                <br>
                <a href="mailto:info@lets-talk-taalcoaching.be">info@lets-talk-taalcoaching.be</a>
            </span>
        </span>
        <br>
    </div>
    -->

    <!-- variant 3 cursusaanbod -->
    <!--
    -->
    <div class="col-md-6"  style="text-align: center">
        <img src="/img/fb_post_vakantie-opfris-def.png">
        <br>
    </div>

    <!-- variant 4 kerst-aanbod cadeautip -->
    <!--
    <div class="col-md-6"  >
        <img src="/img/FB_cadeautip_kerst.jpeg" >
        <br>
    </div>
    -->
</div>


<div class="row" id="down">
    <div class="col-md-12" id="scrolldown-arrow">
        <span class="fnt_sans100 fnt_s12">
            scroll down<br>
            <span class="glyphicon glyphicon-chevron-down fnt-gry"></span>
        </span>
    </div>
</div>
